<h1>List of Cocktails</h1>

<%= link_to 'Add a new cocktail', new_cocktail_path %>

<div class="card-product">
  <% @cocktails.each do |cocktail| %>
  <img src=<%= cocktail[:image_url] %>/>
    <div class="card-product-infos">
      <h2><%= link_to cocktail[:name], cocktail_path(cocktail) %></h2>
    </div>
  <% end %>
</div>



