<h2>Doses of <%= @cocktail.name %></h2>

<% @doses.each do |dose| %>
<h3> <%= dose[:description] %><%= dose[:ingredient] %></h3>
<% end %>

<%= link_to 'Back to cocktail', cocktail_path(@cocktail) %>
